<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.pyg.mapper.FreightTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.pyg.domain.FreightTemplate">
        <id column="id" property="id" />
        <result column="seller_id" property="sellerId" />
        <result column="is_default" property="isDefault" />
        <result column="name" property="name" />
        <result column="send_time_type" property="sendTimeType" />
        <result column="price" property="price" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
