<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.pyg.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.pyg.domain.Goods">
        <id column="id" property="id" />
        <result column="seller_id" property="sellerId" />
        <result column="goods_name" property="goodsName" />
        <result column="default_item_id" property="defaultItemId" />
        <result column="audit_status" property="auditStatus" />
        <result column="is_marketable" property="isMarketable" />
        <result column="brand_id" property="brandId" />
        <result column="caption" property="caption" />
        <result column="category1_id" property="category1Id" />
        <result column="category2_id" property="category2Id" />
        <result column="category3_id" property="category3Id" />
        <result column="small_pic" property="smallPic" />
        <result column="price" property="price" />
        <result column="type_template_id" property="typeTemplateId" />
        <result column="is_enable_spec" property="isEnableSpec" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
