<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.pyg.mapper.SellerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.pyg.domain.Seller">
        <id column="seller_id" property="sellerId" />
        <result column="name" property="name" />
        <result column="nick_name" property="nickName" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="telephone" property="telephone" />
        <result column="status" property="status" />
        <result column="address_detail" property="addressDetail" />
        <result column="linkman_name" property="linkmanName" />
        <result column="linkman_qq" property="linkmanQq" />
        <result column="linkman_mobile" property="linkmanMobile" />
        <result column="linkman_email" property="linkmanEmail" />
        <result column="license_number" property="licenseNumber" />
        <result column="tax_number" property="taxNumber" />
        <result column="org_number" property="orgNumber" />
        <result column="address" property="address" />
        <result column="logo_pic" property="logoPic" />
        <result column="brief" property="brief" />
        <result column="create_time" property="createTime" />
        <result column="legal_person" property="legalPerson" />
        <result column="legal_person_card_id" property="legalPersonCardId" />
        <result column="bank_user" property="bankUser" />
        <result column="bank_name" property="bankName" />
        <result column="last_login_name" property="lastLoginTime" />
    </resultMap>

</mapper>
