<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.pyg.mapper.SpecificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.pyg.domain.Specification">
        <id column="id" property="id" />
        <result column="spec_name" property="specName" />
    </resultMap>

    <select id="selectOptionList" resultType="java.util.Map">
        select id,spec_name as text from tb_specification
    </select>
</mapper>
